@charset "UTF-8";

.page-header {
    display: flex;
    justify-content: space-between;
}

body {
    background-image: url(images/kk.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-size: cover;
}

.global-menu {
  display: flex;
  text-decoration: none;
}

a {
    display: block;
  }

.global-menu li {
  padding: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #747070;
}

.global-menu li:hover {
  opacity: .6;
  transition: 1s;
}

.global-menu li a {
  text-decoration: none;
  color: white;
}

h1 {
    font-family: 'Tapestry', cursive;
    border-width: thin;
}

h1 a {
    text-decoration: none;
    color: inherit;
}
.sns {
    display: flex;
    height: 425px;
}

h3 {
  text-align: center;
}

img {
  width: 350px;
  height: auto;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  max-width: 450px;
  overflow: hidden;
  transition: transform .6s;
}

img:hover {
  transform: scale(1.1);
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    width: 100%;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

article div a {
  display: inline;
}

div a:hover {
  opacity: 0.5;
  transition: 1s;
}

ul, li {
  list-style: none;
}

footer {
  font-size: 12px;
  margin-top: 54npx;
}

h5 {
  margin-left: 20px;
  margin-right: 20px;
}




@media (max-width:1000px) {
  .sns, .global-menu {
      flex-direction: column;
  }



  article, .global-menu {
    width: auto;
  }



  .global-menu li {
    width: inherit;
  }

  .container {
    flex-direction: column;
  }

  img {
    width: 80%;
    height: auto;
  }

  footer {
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 5px 0;
    height: 20px;
    position: static; /* 修正：要素を画面上に固定 */
    bottom: 0;
  }

}